<% content_for :title, 'Agenda' %>
<% 
  c render('user_select_form')
%>
<% if current_user.admin? && @show_user == '' %>
  <div class="alert-box alert">Everyone overdue</div>
  <% User.find(:all, order: 'last_name, first_name').each do |u|  %>
    <% if u.has_overdue? %>  
       <div class="alert-box alert"><%= "#{u.full_name} has overdue items."%></div>
    <% end %>
  <% end %>
<% else %>
  <% this_user = User.find(@show_user) %>
  <% if this_user.has_overdue? %>
    <div class="alert-box alert"><strong><%= this_user.full_name %> has overdue items.</strong></div>  
  <% end %>
<% end %>

<div id="agenda_list" class="panel">
  <%= render partial: 'agenda_list' %>
</div>
<% if !@happenings.empty? %>
  <div id="load_more" class="panel">
    <p class="text-center"><strong>
      <%= link_to "load more", agenda_path(@end_date, agenda: { view_user: @show_user, view_company: @show_company, view_team: @show_team }), remote: true, id: 'load_more_link' %>
    </strong></p>
  </div>
<% end %>
