/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 *= require jquery.ui.all
 */

div.row a {
  text-decoration: underline;
  font-color:red;
}

.headerrow {
  background-color: #cccccc;
  border: 1px solid #eeeeee;
}

.oddrow {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}

.evenrow {
  background-color: #cccccc;
  border: 1px solid #eeeeee;
}

.oddrow_subrow {
  background-color: orange;
  color: black;
  border: 1px solid #eeeeee;
}

.evenrow_subrow {
  background-color: brown;
  color: black;
  border: 1px solid #eeeeee;
}

.light-text {
  color: #FFFFFF;
}

#status-message{
  position:fixed;
  bottom:0;
  padding:0 5px;
  line-height:25px;
  background-color: green;
  color: white;
  margin-bottom:-25px;
  font-weight:bold;
  left:0;
  right:0;
}

#status-message-error{
  position:fixed;
  bottom:0;
  padding:0 5px;
  line-height:25px;
  background-color: red;
  color: white;
  margin-bottom:-25px;
  font-weight:bold;
  left:0;
  right:0;
}

.selected {
  background-color: #A9F5F2;
}

.myhidden {
  display:none;
}

.myheader {
  background-color: #E0F8F7;
}
