<% content_for :title, 'At a Glance' %>

<div class="row">
  <div id='company_list' class='columns large-4'>
    <%= render 'company_list' %>
  </div>

  <div id='task_list' class="columns large-2">
    <%= render 'task_list' %>
  </div>

  <div id='task_info' class="columns large-6">
    <%= render 'task_info' %>
  </div>
</div>
